html,body{
    height: 100%;
}
body{
    background:linear-gradient(darkblue, white);
}

h1{
    color:white;
    font-family:"comic sans ms";
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 5px;
    text-align:center; 
    text-shadow: gold;
}

.foto{
    text-align: center;

}
.foto{
    mix-blend-mode: darken;
    width: 400%;
}